<h1>Portfolio items</h1>

<a href="portfolios/new" title="new portfolio"> Create new item</a>

<%= link_to "Create new item", new_portfolio_path %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
