<h1>Pages#contact</h1>
<div class="row">
  <div class="col-md-6">
    <p><%= number_to_phone "5555555555" %></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.04990383601!2d-0.09582298401912966!3d51.53064451682415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b5f583930e5%3A0x5a7e590f7325e26f!2s20-22+Wenlock+Rd%2C+Hoxton%2C+London+N1+7GU%2C+Wielka+Brytania!5e0!3m2!1spl!2spl!4v1534869192524" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>



